<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuri.mykey"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yuri.mykey.login.LoginActivity"
            android:label="@string/app_name"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.yuri.mykey.KeyLoader"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"
            ></activity>
        <activity 
            android:name="com.yuri.mykey.login.LockPatternActivity"
            android:theme="@android:style/Theme.Holo"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            ></activity>
        <activity 
            android:name="com.yuri.mykey.login.LoginPasswdActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            ></activity>
        <activity 
            android:name="com.yuri.mykey.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:label="@string/setting"
            ></activity>
        <activity 
            android:name="com.yuri.mykey.KeyEditorActvity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.yuri.mykey.setting.GroupManagerActivity"
            android:screenOrientation="portrait"
            android:label="群组管理"
            ></activity>
        <activity 
            android:name="com.yuri.mykey.setting.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/about"
            >
            <intent-filter>
                <action android:name="com.yuri.mykey.about"></action>
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.yuri.mykey.setting.ZipBackupActivity"
            android:screenOrientation="portrait"
            android:label="@string/key_backup"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            ></activity>
        <provider
            android:name="com.yuri.mykey.db.KeyProvider"
            android:authorities="com.yuri.mykey.db.keyprovider" >
        </provider>
    </application>

</manifest>
